@model IEnumerable<Labs2.Models.Students>

@{
    ViewBag.Title = "Список студентов";
}

<h2>Список студентов</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>ФИО</th>
            <th>Группа</th>
            <th>Курс</th>
            <th>Специальность</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.ID_Student</td>
                <td>@student.FIO</td>
                <td>@student.Group</td>
                <td>@student.Course</td>
                <td>@(student.Specialties?.Title ?? "Нет данных")</td>
            </tr>
        }
    </tbody>
</table>